workflows-n8n/follow high value followers - X.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-11T05:51:46.050Z",
  "id": "lNszHVsPgWOfFfik",
  "meta": null,
  "name": "follow high value followers - X",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        420
      ],
      "id": "8490800b-db52-4b59-9d22-68311fedfe78",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "high_value_followers",
        "filters": {
          "conditions": [
            {
              "keyName": "followed",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        420
      ],
      "id": "0e1656b3-6ddf-49d2-8409-00dd0286128d",
      "name": "Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twitter.com/2/users/{{$vars.x_source_user_id}}/following",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"target_user_id\": \"{{ $json.user_id }}\"\n}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AAAAAAAAAAAAAAAAAAAAAGobzgEAAAAAXvQISUWiSYEIKn6dX%2BkhKStwhhg%3DY2nFLyB3szcUG4lRb18KR4N7vxBLioDuzARtnxLas4GNMY1ATc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        340
      ],
      "id": "11e940aa-e3e7-4f3f-8bfa-3914e12329dd",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        420
      ],
      "id": "fd01f614-6ee1-4b84-a2cc-fb1591c6192e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "high_value_followers",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "followed",
              "fieldValue": "={{ $json.data.following }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "id": "f6373168-d2de-49ad-b233-b8f22a523be1",
      "name": "Supabase1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1100,
        320
      ],
      "id": "4921917a-9e44-4bc1-a139-3eb2b2ad423e",
      "name": "Wait",
      "webhookId": "82a380fa-cff7-47a6-95de-335ef40c791a"
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/users/by/username/HitmanCricket",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AAAAAAAAAAAAAAAAAAAAAGobzgEAAAAAXvQISUWiSYEIKn6dX%2BkhKStwhhg%3DY2nFLyB3szcUG4lRb18KR4N7vxBLioDuzARtnxLas4GNMY1ATc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "34ebda30-b84a-49a4-b9b3-a55e70ff5499",
      "name": "get id"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1140,
        520
      ],
      "id": "08666969-3e17-4f7a-86dd-56d469a16fd6",
      "name": "Wait1",
      "webhookId": "b85e08ff-0c6c-4b71-9161-0e2343d6e034"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2ba6127-bec0-4d80-8309-7ad7531b19d9",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "429",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        440
      ],
      "id": "97815846-7aba-4bd4-9fef-c0ffccc29f95",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-11T05:51:46.050Z",
  "versionId": "0f65efaf-74f5-494c-a69b-413968fa2f99"
}