workflows-n8n/get high value followers - X.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-11T05:51:20.416Z",
  "id": "8CAtQtUGOReko1W4",
  "meta": null,
  "name": "get high value followers - X",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        100
      ],
      "id": "0a507b4c-4fc1-45ed-950f-930c41249041",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/users/by",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"ids\": \"{{ $json.user_id }}\",\n  \"user.fields\": \"id,name,username,created_at,protected,verified,public_metrics\"\n}\n\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AAAAAAAAAAAAAAAAAAAAAGobzgEAAAAAXvQISUWiSYEIKn6dX%2BkhKStwhhg%3DY2nFLyB3szcUG4lRb18KR4N7vxBLioDuzARtnxLas4GNMY1ATc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        180
      ],
      "id": "cd2e2396-a1aa-47a6-86be-f4208e29d5c8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets/search/recent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "\"generative AI\""
            },
            {
              "name": "max_results",
              "value": "11"
            },
            {
              "name": "tweet.fields",
              "value": "author_id,created_at,public_metrics,text"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AAAAAAAAAAAAAAAAAAAAAGobzgEAAAAAXvQISUWiSYEIKn6dX%2BkhKStwhhg%3DY2nFLyB3szcUG4lRb18KR4N7vxBLioDuzARtnxLas4GNMY1ATc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        100
      ],
      "id": "183c68e3-2e4b-479e-b66f-0fb1392adf92",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const tweets = $json[\"data\"];\nconst userIds = tweets.map(tweet => tweet.author_id);\n\n// Remove duplicates\nconst uniqueUserIds = [...new Set(userIds)];\n\n// Return array of user IDs\nreturn uniqueUserIds.map(id => ({ user_id: id }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        100
      ],
      "id": "ca5316f2-43a3-4bb4-b4f7-bb9c0f1fa234",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        100
      ],
      "id": "251d1e59-721f-42a5-80f3-76c634625567",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "high_value_followers",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.data[0].id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.data[0].username }}"
            },
            {
              "fieldId": "followers_count",
              "fieldValue": "={{ $json.data[0].public_metrics.followers_count }}"
            },
            {
              "fieldId": "verified",
              "fieldValue": "={{ $json.data[0].verified }}"
            },
            {
              "fieldId": "followed",
              "fieldValue": "false"
            },
            {
              "fieldId": "fetched_at",
              "fieldValue": "={{ $json.data[0].created_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        180
      ],
      "id": "11fbbd1d-6b06-45c9-9856-359c54b4db82",
      "name": "Supabase"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IVPn0r4BOxcwuCfg",
          "mode": "list",
          "cachedResultName": "My workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1c136d41-65d3-49d4-a87e-6ab0d0cb807b",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Vc3fElPC0d4oCvG3",
          "mode": "list",
          "cachedResultName": "check rate limits"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        400
      ],
      "id": "fb0dbfa2-6979-4b5b-8b0b-7b7a0b1ff33d",
      "name": "Execute Workflow1"
    }
  ],
  "pinData": {
    "HTTP Request1": [
      {
        "json": {
          "data": [
            {
              "id": "1894125126620229691",
              "created_at": "2025-02-24T20:39:55.000Z",
              "edit_history_tweet_ids": [
                "1894125126620229691"
              ],
              "author_id": "37539286",
              "public_metrics": {
                "retweet_count": 112,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 0
              },
              "text": "RT @edzitron: Newsletter: There is no AI Revolution. Consumer adoption of generative AI outside of ChatGPT is barely 100 million MAUs, ever…"
            },
            {
              "id": "1894125082345148566",
              "created_at": "2025-02-24T20:39:45.000Z",
              "edit_history_tweet_ids": [
                "1894125082345148566"
              ],
              "author_id": "51729557",
              "public_metrics": {
                "retweet_count": 4,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 0
              },
              "text": "RT @VoxxedAmsterdam: 🎉 The AI Track at Voxxed Days Amsterdam!\n\nGo beyond the hype with hands-on insights from top experts! Dive into AI age…"
            },
            {
              "id": "1894124961054253524",
              "created_at": "2025-02-24T20:39:16.000Z",
              "edit_history_tweet_ids": [
                "1894124961054253524"
              ],
              "author_id": "1753911296263593984",
              "public_metrics": {
                "retweet_count": 0,
                "reply_count": 1,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 5
              },
              "text": "@kentonsolanaa Do well to check out $SUEDE AI \n\nThe game changer \n\n@AISUEDE the first on-chain music generative Ai \n\n53% circulating supply burned\nListed on @AscendEX_  and @BTSE_Official \n\nCa\n\n2nCeHpECQvnMfzjU5fDMAKws1vBxMzxvWr6qqLpApump https://t.co/KGJWf57QgS"
            },
            {
              "id": "1894124788932653349",
              "created_at": "2025-02-24T20:38:35.000Z",
              "edit_history_tweet_ids": [
                "1894124788932653349"
              ],
              "author_id": "322806753",
              "public_metrics": {
                "retweet_count": 112,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 0
              },
              "text": "RT @edzitron: Newsletter: There is no AI Revolution. Consumer adoption of generative AI outside of ChatGPT is barely 100 million MAUs, ever…"
            },
            {
              "id": "1894124551858262016",
              "created_at": "2025-02-24T20:37:38.000Z",
              "edit_history_tweet_ids": [
                "1894124551858262016"
              ],
              "author_id": "767153245",
              "public_metrics": {
                "retweet_count": 0,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 4
              },
              "text": "The backlash against AI overuse is real. Indie game developers are leading the charge, adding 'no generative AI' tags to their games.  Support developers who prioritize human creativity and ethical development. #NoGenAI #IndieGames #SupportCreativity"
            },
            {
              "id": "1894124525933269024",
              "created_at": "2025-02-24T20:37:32.000Z",
              "edit_history_tweet_ids": [
                "1894124525933269024"
              ],
              "author_id": "767153245",
              "public_metrics": {
                "retweet_count": 0,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 0
              },
              "text": "Boost your daily productivity with Generative AI! Studies show AI tools can streamline workflows, freeing up time for creative tasks.  Try incorporating AI into your routine and see the difference! #GenerativeAI #ProductivityHacks"
            },
            {
              "id": "1894124506907828242",
              "created_at": "2025-02-24T20:37:28.000Z",
              "edit_history_tweet_ids": [
                "1894124506907828242"
              ],
              "author_id": "767153245",
              "public_metrics": {
                "retweet_count": 0,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 7
              },
              "text": "Telecom companies are exploring Generative AI to revolutionize network operations. Imagine AI optimizing network traffic in real-time for seamless connectivity. What are the potential benefits and drawbacks of this transformation? Share your thoughts! #GenAI #Telecom #Innovation"
            },
            {
              "id": "1894124090698731571",
              "created_at": "2025-02-24T20:35:49.000Z",
              "edit_history_tweet_ids": [
                "1894124090698731571"
              ],
              "author_id": "1563077637114802176",
              "public_metrics": {
                "retweet_count": 27,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 0
              },
              "text": "RT @mariabrbic: Thrilled to share LUNA🌕 – our new generative AI model that reassembles tissues from dissociated cells! Think of it as Alpha…"
            },
            {
              "id": "1894123914357260605",
              "created_at": "2025-02-24T20:35:06.000Z",
              "edit_history_tweet_ids": [
                "1894123914357260605"
              ],
              "author_id": "402876415",
              "public_metrics": {
                "retweet_count": 2,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 0
              },
              "text": "RT @Coffeeshock_S: Generative AI is wild. https://t.co/v4t8DduyrW"
            },
            {
              "id": "1894123759117701334",
              "created_at": "2025-02-24T20:34:29.000Z",
              "edit_history_tweet_ids": [
                "1894123759117701334"
              ],
              "author_id": "20218923",
              "public_metrics": {
                "retweet_count": 0,
                "reply_count": 0,
                "like_count": 1,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 42
              },
              "text": "@NocturnalToker @YoudaHe @NoLieWithBTC Yeah it’s so hard to use generative AI… are you joking? You’re probably one of the clowns that think AI “artists” are just as talented as real artists  lmfao."
            },
            {
              "id": "1894123720924410055",
              "created_at": "2025-02-24T20:34:20.000Z",
              "edit_history_tweet_ids": [
                "1894123720924410055"
              ],
              "author_id": "1508392664454025220",
              "public_metrics": {
                "retweet_count": 0,
                "reply_count": 0,
                "like_count": 0,
                "quote_count": 0,
                "bookmark_count": 0,
                "impression_count": 5
              },
              "text": "The Impact of Generative AI on Critical Thinking: Self-Reported Reductions in Cognitive Effort and Confidence Effects From a Survey of Knowledge Workers\n\nhttps://t.co/TYzahtw2Zb"
            }
          ],
          "meta": {
            "newest_id": "1894125126620229691",
            "oldest_id": "1894123720924410055",
            "result_count": 11,
            "next_token": "b26v89c19zqg8o3frrcrvon3gz694z89u2wap9l3gj6v1"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-11T05:51:20.416Z",
  "versionId": "070dc056-335f-4bbb-a8bd-1d35631a690b"
}